.carrinho {

  position: fixed;  
  top: 0;
  right: 0;
  width: 300px;
  max-width: 90vh;
  background-color:#f3e9dc;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  padding: 20px;
  z-index: 999;
  display: none;
}

.carrinho.carrinho-aberto {
    right: 0;
}

.carrinho-modal {
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-family: 'Arial', sans-serif;
}

.carrinho-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
}

.carrinho-header h2 {
  font-size: 18px;
  margin: 0;
}

.btn-voltar,
.btn-fechar {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.carrinho-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.carrinho-item img {
  width: 80px;
  margin-right: 15px;
  border-radius: 5px;
}

.item-info {
  flex: 1;
}

.nome-produto {
  font-weight: bold;
  font-size: 14px;
}

.quantidade {
  background: gold;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
}

.preco {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.btn-remover {
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 16px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.carrinho-footer {
  text-align: center;
  margin-top: 20px;
}

.carrinho-footer .total {
  font-size: 18px;
  margin-bottom: 15px;
}

.btn-finalizar {
  background-color: #c9b47d;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-continuar {
  border: 2px solid #c9b47d;
  color: #c9b47d;
  background: transparent;
  padding: 10px;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
}


@media (max-width: 1200px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .carrinho-aberto .produtos {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .produtos {
        grid-template-columns: repeat(1, 1fr);
    }
}